
# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# LabVIEW-specific ignores
*.aliases
*.lvlps
*.evs
*.pce
*.vcregs
/builds/

